<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 
"-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tegen.dao.mapDao">
	<select id="getInfo" resultType="com.tegen.entity.maps" parameterType="com.tegen.entity.maps">
		select * from map
	</select>
</mapper>