<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.1.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.1.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd">

	<!-- 注解配置包扫描 -->
	<context:component-scan base-package="com.tegen.entity,com.tegen.dao,com.tegen.mapper,com.tegen.service"/>
	<!-- springmvc的注解扫描 -->
	<mvc:annotation-driven></mvc:annotation-driven>

	<!-- 引入外部资源 -->
 	 <context:property-placeholder location="classpath:mysql.properties"/>  
	
	 <!-- 1.配置数据源 -->
	 <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="url" value="${url}"/>
		<property name="driverClassName" value="${driver}"/>
		<property name="username" value="${uname}"/>
		<property name="password" value="${pwd}"/>
	</bean> 
	
    <!-- 配置数据源-->  	 
	<!--  <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
         <property name="driverClassName" value="com.microsoft.sqlserver.jdbc.SQLServerDriver"/>
         <property name="url" value="jdbc:sqlserver://118.31.68.120:1433;database=TellgenDataPlatform"/>
         <property name="username" value="sa"/>
         <property name="password" value="Tellgen50800020"/>
    </bean> -->
    
	<!-- 2.配置session工厂 -->
	<bean id="factory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource"/>
		<!-- 扫描配置文件 -->
		<property name="mapperLocations" value="classpath:com/tegen/mapper/*.xml"/>
		<!-- 别名 -->
		<property name="typeAliasesPackage" value="com.tegen.entity"/>
	</bean>
	
	<!-- 接口包扫描 -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<!-- 注入基本包 -->
		<property name="basePackage" value="com.tegen.dao"/>
		<!-- 注入工厂 -->
		<property name="sqlSessionFactoryBeanName" value="factory"/>
	</bean>
	
	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">  
        <property name="dataSource" ref="dataSource"></property>  
    </bean>  
    
	 <tx:annotation-driven transaction-manager="transactionManager"/>

</beans>